# Next.js lee estas variables en dev (.env.local) o producción (.env.production)
NEXT_PUBLIC_API_URL=http://localhost:4001
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_CONTACT_EMAIL=contacto@matubyte.com
NEXT_PUBLIC_CONTACT_PHONE=+57 333 277 1764
NEXT_PUBLIC_CONTACT_WHATSAPP=573332771764
NEXT_PUBLIC_CONTACT_WHATSAPP_MSG=Hola, me interesa conocer más sobre MatuMailer.
